@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.d-flex{
    display: flex;
}

.box{
    padding: 0 20vw;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 0;
}

.itens{
    display: flex;
    gap: 25px;

}

.botao{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #BE580f;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.cabecalho img{
    width: 200px;
}

.hero{
    width: 100vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("./assets/banner.jpeg");
    padding: 2rem;
    flex-direction: column;
}

.hero h1{
    color: white;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    line-height: 100%;
}

.hero p{
    color: white;
    margin: 20px 0;
}

.hero input{
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
}

h1 span{
    color: #BE580f;
}

.hero button{
    background-color: #BE580f;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}

.hero .d-flex{
    gap: 2rem;
    width: 100%;
}

.arrival{
    padding: 2rem;
    background-color: #d1b5a118;
}

.ar-grid{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.ar-grid .grid-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ar-grid .grid-card img{
    width: 20vw;
    height: auto;
}

.grid-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.grid-card img{
    width: 7rem;
    margin-bottom: 10px;
}

.grid-card h3{
    font-size: 20px;
    line-height: 100%;
}

.grid-card p{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.742);
}

.borrow{
    color: #BE580f;
    background-color: #ffdcc3;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.upcoming{
    padding: 2rem;
    background-color: #d1b5a137;
}

.up-grid{
    margin: 3rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.up-grid .grid-card{
    padding-bottom: 30px;
}

.up-grid .borrow{
    width: fit-content;
    color: #BE580f;
    font-weight: bold;
    margin: 10px 0 20px 0;
    line-height: 100%;
    padding: 10px 12px;
}

.grid-card .check{
    color: #BE580f;
}

.help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh 0;
}

.help h2, .help p, .help h3{
    text-align: center;
}

.help .grid-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help .icon{
    background-color: #228fbd;
    padding: 5%;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    filter: invert();
}

footer{
    background-color: #443830;
    display: grid;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 10px;
}

footer .bibliotech{
    margin-top: -20px;
}

footer img{
    width: 20vw;
}

footer p, footer a{
    color: rgba(255, 255, 255, 0.632);
}